.verticalCenter {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.rowSpacingTop, .spacingTop {
  margin-top: 1em;
}

.spacingRight {
  margin-right: 1em;
}

.clickable {
  cursor: pointer;
}
